.signin-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 500px;
    max-width: 100%;
    margin: 2rem auto;
    background: var(--background-secondary);
    padding: 2rem;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signin-form .title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.signin-form .text-input {
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    background: var(--element);
    font-size: 1rem;
    padding: 10px 15px;
}

.signin-form button {
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background: var(--text);
    color: var(--background);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}