.signin-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem auto;
    width: 500px;
    max-width: 90%;
    padding: 2rem;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--gradient);
    box-shadow: var(--shadow-s);
}

.signin-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    height: 100%;
}

.signin-form .title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.signin-form .text-input {
    border: none;
    border-radius: 10px;
    background: var(--bg-light);
    font-size: 1rem;
    padding: 10px 15px;
    box-shadow: var(--shadow-m);
    color: var(--text);
}

.signin-form .signin-button {
    border: none;
    border-radius: 10px;
    background: var(--primary);
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 15px;
    box-shadow: var(--shadow-l);
    color: hsl(0, 100%, 95%);
    cursor: pointer;
}

.signin-form .signin-button:hover {
    background: var(--primary-dark);
    box-shadow: var(--shadow-l-muted);
    color: hsl(0, 100%, 90%);
}

.signin-form label {
    font-size: 1rem;
    font-weight: bold;
    color: var(--text);
    margin: 0px 5px;
}

.signin-container .auth-services {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}