.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem auto;
    width: 500px;
    max-width: 100%;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    background: var(--background-1);
    z-index: -1;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    height: 100%;
}

.signup-form .title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.signup-form .text-input {
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    background: var(--background-2);
    font-size: 1rem;
    padding: 10px 15px;
}

.signup-form label {
    font-size: 1rem;
    font-weight: bold;
    color: var(--text);
}

.signup-form .auth-services {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}