.signin-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem auto;
    width: 500px;
    max-width: 90%;
    padding: 2rem;
    border-radius: 8px;
    background: var(--background-secondary);
    z-index: -1;
}

.signin-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    height: 100%;
}

.signin-form .title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.signin-form .text-input {
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    background: var(--element);
    font-size: 1rem;
    padding: 10px 15px;
}

.signin-form button {
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background: var(--text);
    color: var(--background);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.signin-container .auth-services {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}