.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: var(--background-1);
}

.navbar ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.navbar .nav-left,
.navbar .nav-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar .nav-left .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .theme-toggle {
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}