* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text);
}

:root {
    --background: hsl(0, 0%, 0%);
    --background-secondary: hsl(0, 0%, 10%);
    --text: hsl(0, 0%, 95%);
    --element: hsl(0, 0%, 15%);
}

@media (prefers-color-scheme: light) {
    :root {
        --background: hsl(0, 0%, 100%);
        --background-secondary: hsl(0, 0%, 90%);
        --text: hsl(0, 0%, 5%);
        --element: hsl(0, 0%, 85%);
    }
}

[data-theme="dark"] {
    --background: hsl(0, 0%, 0%);
    --background-secondary: hsl(0, 0%, 10%);
    --text: hsl(0, 0%, 95%);
    --element: hsl(0, 0%, 15%);
}

[data-theme="light"] {
    --background: hsl(0, 0%, 100%);
    --background-secondary: hsl(0, 0%, 90%);
    --text: hsl(0, 0%, 5%);
    --element: hsl(0, 0%, 85%);
}


body {
    width: 100%;
    height: 100%;
    background: var(--background);
}

button {
    font-family: inherit;
    background-color: var(--background-secondary);
    color: var(--text);
    border: 1px solid;
    padding: 10px;
}

a {
    color: var(--text);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}