* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text);
}

:root {
    --background: hsl(0, 0%, 0%);
    --background-1: hsl(0, 0%, 5%);
    --background-2: hsl(0, 0%, 10%);
    --text: hsl(0, 0%, 95%);
    --text-1: hsl(0, 0%, 70%);
    --border: hsl(0, 0%, 20%);
}

@media (prefers-color-scheme: light) {
    :root {
        --background: hsl(0, 0%, 100%);
        --background-1: hsl(0, 0%, 95%);
        --background-2: hsl(0, 0%, 90%);
        --text: hsl(0, 0%, 5%);
        --text-1: hsl(0, 0%, 30%);
        --border: hsl(0, 0%, 80%);
    }
}

[data-theme="dark"] {
    --background: hsl(0, 0%, 0%);
    --background-1: hsl(0, 0%, 5%);
    --background-2: hsl(0, 0%, 10%);
    --text: hsl(0, 0%, 95%);
    --text-1: hsl(0, 0%, 70%);
    --border: hsl(0, 0%, 20%);

}

[data-theme="light"] {
    --background: hsl(0, 0%, 100%);
    --background-1: hsl(0, 0%, 95%);
    --background-2: hsl(0, 0%, 90%);
    --text: hsl(0, 0%, 5%);
    --text-1: hsl(0, 0%, 30%);
    --border: hsl(0, 0%, 80%);
}


body {
    width: 100%;
    height: 100%;
    background: var(--background);
}

button {
    font-family: inherit;
    background-color: var(--background-1);
    color: var(--text);
    border: 1px solid;
    padding: 10px;
}

a {
    color: var(--text);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}